@import '../../styles/constants.scss';

.container {
    gap: 60px;
    .text {
        width: 400px;
        height: 400px;
        .tag {
            text-transform: uppercase;
            color: orange;
            font-size: 12px;
            font-weight: 550;
            margin-bottom: 14px;
            letter-spacing: 2px;
            
        }
        h1 {
            font-weight: 700;
            font-size: 42px;
        }
        .resume {
            margin: 30px 0px;
        }
        p {
            color: rgb(143, 143, 143);
        }
        .price {
            .main {
                color: black;
                font-size: 32px;
                font-weight: 600;
            }
            .discont {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 2px;
                width: 48px;
                height: 26px;
                border-radius: 6px;
                background-color: hsl(25, 100%, 94%);
                color: hsl(26, 100%, 55%);
                font-weight: 700;
            }
            .center {
                display: flex;
                gap: 16px;
                align-items: center;
                justify-content: start;
            }
            .second {
                margin-top: 6px;
                font-weight: bold;
                text-decoration: line-through;
                color: rgb(180, 179, 179);
            }
        }
    }
}

.wrapper {
    .itens {
        gap: 16px;
        .btns {
            padding: 6px;
            border-radius: 6px;
            font-weight: 700;
            gap: 32px;
            background-color: rgba(180, 179, 179, 0.1);
            button {
                color: orange;
                background-color: rgb(143, 143, 143, 0);
                border: none;
                font-size: 28px;
                cursor: pointer;  
            }        
            
        }
        
    }
    .btnAdd {
        :hover {
            opacity: 0.6;
        }
        .add {
            gap: 8px;
            padding: 1em 6em;            
            color: white;                
            font-weight: 700;
            background-color: hsl(26, 100%, 55%);
            border-color: transparent;
            box-shadow: 0px 10px 5px hsl(25, 100%, 94%, 0.8);
            border-radius: 10px;  
            cursor: pointer;          
        }
    
    }
    
    
}

//cart
.cartPopUp {
    width: 360px;
    height: auto;
    padding: 20px 20px;
    .titleCart {
        padding: 20px 0;
        border-bottom: 1px solid rgb(143, 143, 143, 0.4);
    }
    .cartCheckout {
        margin: 20px 0px;
        gap: 14px;
        .cartImg {
            width: 40px;
            height: 40px;
        }
        ul li {
            list-style-type: none;
            color: rgb(143, 143, 143);
        }
        span {
            font-weight: 700;
            color: black;
        }
        button {
            background-color: white;
            border: none;
            font-size: 28px;
            color: rgb(143, 143, 143);
        }
    }
    
    .btnCheckout {
        margin: 20px 0px;
        gap: 8px;
        padding: 1em 6em;
        width: 100%;          
        color: white;                
        font-weight: 700;
        background-color: hsl(26, 100%, 55%);
        border-color: transparent;
        box-shadow: 0px 10px 5px hsl(25, 100%, 94%, 0.8);
        border-radius: 10px;  
        cursor: pointer;          
    }
}

