@import '../../styles/constants.scss';

.container {
    border-bottom: 1px solid rgb(180, 180, 180);
    .name {        
        p {
            font-size: 1.8rem;
            font-weight: 900;
        }
    }
    .menu {
        font-size: 1rem;
        list-style: none;
        gap: 1.5rem;
        cursor: pointer;
        color: grey;

        li {
            a {
                color: inherit;
                text-decoration: none;
            }

            &:hover {
                color: black;
            }
        }
    }
    .icons {
        gap: 2rem;
        align-self: flex-end;
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        .menuIcon {  
            cursor: pointer; 
            z-index: 1;  
            .badge {       
                position: absolute;         
                background-color: hsl(26, 100%, 55%);
                border: hsl(26, 100%, 55%);
                border-radius: 38%;
                color: white;
                width: 1rem;
                padding: 0 0.6rem;
                font-size: 10px;
                font-weight: 700;
                top: 34%;
                z-index: 99;
                left: 71%;
                display: flex;
                align-items: center;
                justify-content: center;   
            }   
            
        }
        .personIcon {
            img {
                width: 38px;
                height: 38px;
                border: 2px solid hsl(26, 100%, 55%);
                border-radius: 999%;
                cursor: pointer;
            }
        }
    }    
}